
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

table, th, td{
  border: 1px solid black;
  }

p1{
  width: 40%;
  letter-spacing: normal;
  margin: 20 10vw 10vh 10vw;
  font-size: 2em;
}

/*
<div id= "Home" class="items">
  </div>

<div id="Women's Accessories" class="items" style="display:none">
  </div>

<div id="Mens's Accessories" class="items" style="display:none">
    </div>

  <div id="Household Items" class="items" style="display:none">
      </div>
*/

/* set height of body and document to 100% to enable "full page tabs" */
body, html{
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink: hover {
  background-color: #777;
}

/* Style the tab tabcontent (and add height: 100% for full page content) */
.tabcontent {
  color: white;
  display:none;
  padding: 10px 20px;
  height: 100%;
}

#Home {background-color: red;}
#WomensAccessories {background-color: green;}
#MensAccessories {background-color: yellow;}
#HouseholdItems{border-color: blue;}
